//LHJ修改
.page-style{
    display:flex;
    flex-direction: column;
    align-items:center;
    background: #fffaf2; // WH_DOING
}
.main-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fffaf2; // WH_DOING
    height: 80px;
    padding: 0 50px;
    position: relative;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.12);
    .search-bar{
        // float: left;
        align-items: center;
        display: flex;
        margin-right: 15px;
        &:hover{
            color: #44acb6;
            cursor: pointer;
        }

        .searchBox{
            float: left;
            display: flex;
            align-items: center;
        }
        // WH_DOING
        .icon-search {
            margin-right: 5px;
            font-size:30px;
        }
        // WH_DOING
        .searchInput:focus {
            text-align: left;
            width: 256px;
            border: 1px solid #ccc;
            border-radius: 10px;
            padding: 5px 8px;
            background: #fffaf2;
            box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.4);
            transition: width 0.4s ease-in-out;
        }
        // WH_DOING
        .searchInput{
            // text-align: center;
            width: 80px;
            border: 1px solid #ccc;
            border-radius: 10px;
            padding: 5px 8px;
            background: #fffaf2;
            box-shadow: 0px 0px 1px 0px rgba(0,0,0,0.4);
            transition: width 0.4s ease-in-out;
        }
    }

    .logo {
        float: left;
        //margin-right: 10%;
        padding: 5px;
        box-sizing: border-box;
        width:auto;
        height: 100%;
        img{
            width: auto;
            height:100%;
        }
    }
    .center {
        display: flex;
        align-items: center;
    }
    .nav-list{
        color: #999;
    }
    .person{
        float: right;
        display: flex;
        align-items: center;
        
        .remind{
            cursor: pointer;
        }
        
        
    }
    .nav-item{
        margin: 12px;
        font-size: 26px; // WH_DOING
        letter-spacing: 2px;  // WH_DOING
        cursor: pointer;
        position: relative;
        &:visited {
            color: #999;
        }
        &:hover{
            color:#44acb6;
            
            &:after {
                content: '';
                position: absolute;
                width: 100%;
                height: 5px;
                background: #44acb6;
                bottom: -25px;
                left: 0px;
            }
        }
        &.active {
            color: #333;
            &:after{
               content: '';
               position: absolute; 
               width: 100%;
               height: 5px;
               background: #333;
               bottom: -25px;
               left:0px;
            }
        }
    }
    .remind{
        margin-right: 5px;
        &:hover{
            color:#44acb6;
        }

        .iconfont {
            font-size: 30px;
        }

        .redPoint {
            min-width: 20px;
            height: 20px;
            width: 20px;
            padding: 0 2px;
            border-radius: 16px;

            display: inline-block;
            text-align: center;
            font-size: 0.1em;
            color: #fff;
            background-color: red;
            
            position: relative;
            top: -15px;
            right: 14px;
        }

        .shake {
            animation-name: shake;
            animation-duration: 2s;
            animation-timing-function: linear;
            animation-delay: 0s;
            animation-iteration-count: infinite;
            animation-direction: normal;
            animation-fill-mode: none;
            animation-play-state: running;
            transform-origin: center top;
        }
    }
    // WH_DOING
    .head-img {       
        border-radius: 100px;
        height: 40px;
        width: 40px;
        //background-color: #763;
        &:hover{
            box-shadow: 0px 6px 10px #ccc;
        }
    }

    // 菜单的小箭头
    .menuArrow{
        position: absolute;
        top: -12px;
        right: 40px;
        overflow: hidden;
        width: 20px;
        height: 20px;
        background: whitesmoke;
        border-left: 1px solid whitesmoke;
        border-top: 1px solid whitesmoke;
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    // WH_DOING
    .menu{
        background: white;
        width: 300px;
        position: absolute;
        top: 70px;
        right: 45px;
        z-index: 100;
        border-radius: 20px;
        box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.5);

        .menuHeader{
            background: whitesmoke;
            font-size: 25px;
            line-height: 30px;
            padding: 15px 20px;
            margin: auto;
        }
        .menuSet{
            border-top: 1px solid #E3E3E3;
            font-size: 25px;
            padding:15px 20px;
            cursor: pointer;
        }
        .modifyPassword{
            border-top: 1px solid #E3E3E3;
            font-size: 25px;
            padding:15px 20px;
            cursor: pointer; 
        }
        .menuCreate{
            border-top: 1px solid #E3E3E3;
            font-size:25px;
            padding:15px 20px;
            cursor: pointer; 
        }
        .menuQuit{
            border-top: 1px solid #E3E3E3;
            margin: 0 auto;
            font-size: 25px;
            padding: 15px 20px;
            cursor: pointer;
            border-radius: 0 0 10px 10px;
            
        }
    }
    
}
@keyframes shake{
0% {
    transform: rotate(0deg);
}
3.75% {
    transform: rotate(25deg);
}
15% {
    transform: rotate(-25deg);
}
22.5% {
    transform: rotate(15deg);
}
29% {
    transform: rotate(-10deg);
}
35% {
    transform: rotate(5deg);
}
43% {
    transform: rotate(-2deg);
}
50% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(0deg);
}

}
// @media only screen and (max-width: 480px) {

// }